@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


@keyframes shiny {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-shiny {
  background-size: 200% 200%;
  animation: shiny 3s linear infinite;
}

.back {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, #a8e6cf, #dcedc1, #ffd3b6, #ffaaa5, #a8e6cf);
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-move {
  animation: move 3s infinite alternate ease-in-out;
}

@keyframes move {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(90px, -60px);
  }
  50% {
    transform: translate(-90px, 60px);
  }
  75% {
    transform: translate(-90px, -100px);
  }
}

.scale-in {
  animation: scale-in 1s ease forwards;
}

@keyframes scale-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}